/* Estilo general */
body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #a8a4e7;
    color: white;
    text-align: center;
    padding: 20px 0;
    
}

header h1 {

  background-color: #a8a4e7;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* Contenedor principal */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

/* Títulos */
h2 {
    color: #333;
}

/* Galería de imágenes */
.galeria img {
    position:left;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0 4px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
header {
  background-color: #a9a4f6; /* mismo color del fondo morado */
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 10px; /* espacio entre el texto y los stickers */
}
header {
  text-align: center; /* centra todo lo que esté adentro */
  padding: 20px;
}

header img {
  display: block;       /* hace que el navegador lo trate como bloque */
  margin: 0 auto;       /* lo centra horizontalmente */
  max-width: 100%;     /* para que no se salga del contenedor */
}

.sticker {
  width: 600px;
  height: auto;
}
#desarrollos {
  text-align: center;
  font-size: 2rem;   /* opcional: más grande */
  margin-bottom: 30px; /* opcional: espacio debajo */
}
.proyecto {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.proyecto img {
  width: 400px;   /* Aca elegís el tamaño de la imagen */
  height: auto;
  margin-right: 20px;
}

.proyecto .detalle h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Responsive para celulares */
@media (max-width: 768px) {
  .proyecto {
    flex-direction: column;
    text-align: center;
  }

  .proyecto img {
    margin-bottom: 15px;
  }

  .proyecto .detalle {
    max-width: 100%;
  }
}